<h1>All Movies</h1>

<%= form_tag movies_path, :method => :get do %>
  Include:
  <% all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]", "1", ratings_params[rating] %>
  <% end %>
  <%= submit_tag 'Refresh' %>
<% end %>

<table id="movies">
  <thead>
    <tr>
      <th>Avatar</th>
      <th class="<%= 'highlight' if session[:sort_by] == 'title' %>">
        <%= sortable 'title', "Movie title" %>                              
      </th>
      <th>Rating</th>
      <th class="<%= 'highlight' if session[:sort_by] == 'release_date' %>">
        <%= sortable 'release_date', "Release date" %>
      </th>
      <th>More Info</th>
      <th>Author</th>
      <th>Publication</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= image_tag movie.avatar.url(:thumb) %></td>
        <td><%= link_to "#{movie.title}", movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= truncate(movie.description, length: 50, separator: ' ') %><%= link_to "more", movie_path(movie) %>
        </td>
        <td class="<%= 'author' if movie.user.email == current_user %>"><%= movie.user.email %></td>
        <td><%= movie.published %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>


